<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors Lizard Spock</title>
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
</head>
<body>

  <div id="content">
    <div id="register">
      <form>
        <input class="textbox" type="text" placeholder="Please register your name:">
        <input class="button" type="submit" value="I'm ready!">
      </form>
    </div>
  
    <div id="message">
      Please select your action:
    </div>
  
    <div id="action">
      <img src="../public/images/rock.png" id="rock">
      <img src="../public/images/paper.png" id="paper">
      <img src="../public/images/scissors.png" id="scissors">
      <img src="../public/images/lizard.png" id="lizard">
      <img src="../public/images/spock.png" id="spock">
    </div>
  </div>

</body>
</html>